body {
  display: flex;
  flex-direction: row;
}

.calculator {
  height: 450px;
  width: 300px;
  padding: 15px;
  margin: 15px;
  background-color: rgb(120, 250, 200);
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;
  margin-right: 15px;
  display: inline-block;
  box-shadow: -7px 5px 0px black;
  display: inline-block;
}

.calculationBox {
  height: 50px;
  width: 280px;
  padding-top: 20px;
  padding-right: 10px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  font-size: 30px;
  text-align: right;
  box-shadow: 3px -3px 0px black;
}

.buttonsContainer {
  margin-top: 25px;
  height: 340px;
  width: 280px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  background-color: rgb(120, 250, 200);
}

.buttonsContainer > button {
  border-color: black;
  border-width: 2px;
  font-size: 20px;
  background-color: rgb(255, 255, 129);
  font-weight: bold;
  border-radius: 20px;
  height: 55px;
  width: 55px;
  box-shadow: -2px 2px 0px black;
}

#button-del, #button-add, #button-subtract, #button-divide, #button-multiply, #button-CA, #button-equals {
  background-color:rgb(140, 255, 110)
}

.historyContainer {
  margin: 15px;
}

.button-clearHistory {
  font-weight:900;
  background-color: rgb(120, 250, 200);
}

.history {
  color: blue;
}
