* {
  padding: 0;
  margin: 0;
  font-family: cursive;
}

html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: white;
  min-height: 200px;
  min-width: 400px;
  text-align: center;
}

.container>h1 {
  font-size: 35px;
}

.bottom-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-container>span {
  font-size: 50px;
}

.loading-bar, .loading {
  height: 12px;
  width: 350px;
  border-radius: 6px;
}

.loading-bar {
  background-color: orangered;
}

.loading {
  background-color: gray;
}