* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(rgba(120, 0, 0, 0.8), rgba(50, 0, 0, 1));
  height: fit-content;
}

.navbar {
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: -10px;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.navbar>img {
  margin-left: 20px;
  margin-right: 10vw;
  margin-bottom: 10px;
}

.navbar>div>a {
  text-decoration: none;
  color: rgb(20, 20, 20);
  margin-left: 40px;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar>div>a:hover {
  transition-duration: 0.2s;
  color: red;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}

.container {
  margin-top: 90px;
  font-family: sans-serif;
  display: flex;
}

.text {
  background-color: lightblue;
  height: 80vh;
  width: 40vw;
  border-radius: 5px;
  margin-left: 30px;
  padding: 20px;
  box-shadow: 0 0 20px lightblue;
  border: 2px solid black;
}

.text>h2 {
  font-size: 60px;
}

.text>p {
  font-size: 25px;
  margin-top: 20px;
}

.container-pictures {
  margin-left: 100px;
  width: 60vw;
  display: flex;
}

#img1 {
  margin-left: 80px;
  box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 2px solid black;
}