* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  height: 300px;
  width: 700px;
}

.mouseXY-container {
  color: white;
  height: 300px;
  width: 325px;
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#mouseX {
  border: 1px solid white;
  font-size: 80px;
  height: 200px;
  width: 325px;
  padding-top: 90px 
}

#mouseY {
  border: 1px solid white;
  font-size: 80px;
  height: 200px;
  width: 325px;
  padding-top: 90px 
}